/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */

.nunito{
    font-family: 'Nunito Sans', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}